@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '~/assets/styles/variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  font-family: "Encode Sans Semi Expanded", sans-serif;
  margin: 0;
  background-color: $background;
  color: $text-color;

  h1, h2 {
    color: $title-color;
    font-weight: 600;
  }
}